a{
    text-decoration: none;
    color: rgb(16, 185, 58);
    font-size: 25px;
    position: relative;
    left: 96%;
    top: 17px;
    font-family: 'Trispace', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 300ms all;
    overflow: hidden;
}

body.dark {
    background-color: rgb(0, 0, 0);
    color: #eee;
}

.mode-control input {
    position: absolute;
    opacity: 0;
}
.mode-control span:nth-of-type(2) {
    display: none;
}
.mode-control input:checked + span {
    display: none;
}
.mode-control input:checked + span + span {
    display: inline-block;
}